#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

h1 {
  background-color: #67CFD3;
  color: white;
  text-decoration: underline;
  width: 100%;
  height: 100px;
  text-align: left;
  padding: 24px 40px;
  margin-bottom: 0;
}

#sub-header {
  background-color: #223843;
  min-height: 200px; 
  width: 90%; 
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#sub-header > img {
  height: 150px;
  border: 1px solid white;
  box-shadow: 10px 10px white;
}

#quote-div {
  width: 50%;
  color: white;
  text-align: right;
}

#quote-div > p:last-child {
  font-size: 14px;
}

#recipes, #exercises {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipe-header, #exercise-header {
  width: 100%;
  height: 100px;
  background-color: #EF5D60;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#recipe-header > h2, #exercise-header > h2 {
  width: 100%;
  margin: 0;
  text-align: center;
}

#recipe-header > a,
#exercise-header > a {
  background-color: white;
  color: #223843;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 0 4px;
}

#recipe-header > a:hover,
#exercise-header > a:hover {
  text-decoration: underline;
}

#recipe-header > a:active,
#exercise-header > a:active {
  color: #c3c3c3
}

.card-container, #no-recipe-msg, #no-exercise-msg {
  background-color: #223843;
  color: white;
  width: 90%;
  max-width: 900px;
  min-height: 250px;
  margin: 0;
}

#no-recipe-msg, #no-exercise-msg {
  text-align: center;
  padding: 48px;
  font-size: 20px;
}

.card-container {
  padding: 24px 20px 200px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.card-container:last-child {
  margin-bottom: 100px;
}

.card { 
  background-color: #D6DAF5;
  color: white;
  display: flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: space-between;
  /* min-height: 200px; */
  width: 80%;
  overflow-wrap: break-word;
  box-shadow: 5px 5px white;
}

.card-left {
  background-color: white;
  color: #223843;
  font-size: 20px;
  width: 66%;
  border: 1px solid #D88373;
  box-shadow: 5px 5px #D88373;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-left > p {
  margin: 0;
}

.card-left > p:last-child {
  font-size: 16px;
}

.card-right {
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
}

.card-right > a > button,
.card-right > form > button,
.card-right > a:last-child {
  font-size: 12px;
  background-color: white;
  color: #223843;
  border: 1px solid #D88373;
  box-shadow: 5px 5px #D88373;
  height: 24px;
}

.card-right > a > button:hover,
.card-right > form > button:hover, 
.card-right > a:hover {
  text-decoration: underline;
}

.card-right > a:last-child {
  padding: 1px 6px;
}