<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <div id="login-msg">
    <h1>welcome<%= user ? `, ${user.profile.name}` : '!' %></h1>
    <% if(!user) { %>
      <h3>sign in to create your own recipes, log your exercise, and view users' profiles!</h3>
    <% } %> 
  </div>
  <div class="picture-box">
    <img src="/assets/fruit-bowl.jpeg" alt="bowl of fruits">
    <img src="/assets/grain-bowl.jpeg" alt="veggies over a bowl of grain">
    <img src="/assets/toast.jpeg" alt="peanut butter-banana and avocado toasts">
  </div>
  <div class="nav-buttons">
    <% if (user) { %>
      <a href="/recipes/new">add new recipe</a>
    <% } %>
    <a href="/recipes">all recipes</a>
    <% if (user) { %>
      <a href="/exercises/new">log exercise</a>
    <% } %>
    <a href="/exercises">exercises</a>
    <% if (user) { %>
      <a href="/profiles">profiles</a>
    <% } %>
  </div>
  <div id="site-info">
    <h3>Healthy Habits</h3>
    <p>This site was created to serve as a sounding board to help build healthy habits! With the ability to store and explore recipes and to track your exercise, this will be a place to find inspiration for tge food and the active life to feed the soul, as well as find community in the development of routines of a healthy lifestyle!  </p>
  </div>
</main>

<%- include('./partials/footer') %>
