<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <div id="login-msg">
    <h1>welcome, <%= user ? user.profile.name : "friend" %></h1>
    <% if(!user) { %>
      <h3>sign in to create a recipe!</h3>
    <% } %> 
  </div>
  <div class="picture-box">
    <img src="/assets/fruit-bowl.jpeg" alt="bowl of fruits">
    <img src="/assets/grain-bowl.jpeg" alt="veggies over a bowl of grain">
    <img src="/assets/toast.jpeg" alt="peanut butter-banana and avocado toasts">
  </div>
  <div class="nav-buttons">
    <a href="/recipes/new">add new recipe</a>
    <a href="/recipes">all recipes</a>
    <a href="/exercises/new">log exercise</a>
    <a href="/exercises">exercises</a>
    <a href="/profiles">profiles</a>
  </div>
</main>

<%- include('./partials/footer') %>
