html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #3b4274;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Poppins', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #D6DAF5;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  display: flex;
  gap: 8px;
  align-items: center;
}

#nav-links > a {
  color: #223843;
  padding: 8px;
}

#nav-links > a:visited {
  color: #223843;
}

#nav-links > a:hover {
  background-color: #223843;
  color: white;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
}

#logout-link {
  background-color: #223843;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  padding: 4px 8px;
}

#logout-link:hover, #logout-link > button:hover {
  background-color: white;
  color: #223843;
}

#logout-link > button {
  color: white;
  background: none;
  border: none;
  font-size: 16px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}