<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/exercises/new.css">
<%- include('../partials/nav') %> 

<main>
  <h1>new exercise</h1>
  <form action="/exercises" method="POST">
    <div id="type">
      <label for="type-select">Exercise Type*:</label>
      <select name="type" id="type-select">
        <option value="Run">Run</option>
        <option value="Walk">Walk</option>
        <option value="Elliptical">Elliptical</option>
        <option value="Cardio">Cardio</option>
        <option value="HIIT">HIIT</option>
        <option value="Yoga">Yoga</option>
        <option value="Stretching">Stretching</option>
        <option value="Strength Training">Strength Training</option>
        <option value="Weights">Weights</option>
        <option value="Bike">Bike</option>
        <option value="Spin">Spin</option>
        <option value="Swim">Swim</option>
        <option value="Pilates">Pilates</option>
        <option value="Kickboxing">Kickboxing</option>
        <option value="Sport">Sport</option>
        <option value="Zumba">Zumba</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div id="duration">
      <label for="duration-input">Duration (in minutes):</label>
      <input type="number" name="duration" id="duration-input">
    </div>
    <div id="date">
      <label for="date-select">Date:</label>
      <input type="date" name="date" id="date-select" required value="<%= defaultDate %>">
    </div>
    <div id="share">
      <label for="share-checkbox">
        <p>Make Public?</p>
        <p>(When checked, this log will appear in the exercises tab with other users' public exercises. Otherwise, it will be viewable only when a user selects your profile)</p>
      </label>
      <input type="checkbox" name="share" id="share-checkbox" checked>
    </div>
    <div id="comments">
      <label for="comments-textarea">Additional Comments:</label>
      <textarea name="comments" id="comments-textarea" placeholder="Comments..."></textarea>
    </div>
    <button id="add-exercise-btn" type="submit">Add Exercise!</button>
  </form>
</main>

<%- include('../partials/footer') %> 