<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= title %></h1>
  <form action="/recipes" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" required autocomplete="off">
    <label for="time-input">Estimated Time (in minutes):</label>
    <input type="number" name="estTime" id="time-input">
    <label for="meal-select">Meal:</label>
    <select name="meal" id="meal-select">
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
      <option value="Other">Other</option>
    </select>
    <label for="instructions-textarea">Instructions:</label>
    <textarea name="instructions" id="instructions-textarea" autocomplete="off"></textarea>
    <button type="submit">Create Recipe!</button>
  </form>
</section>
<section>
  <h2>Need to create new ingredients for your recipe? Add Below!</h2>
  <p>Please ensure that the ingredient you are looking for does not already exist</p>
  <form action="/ingredients" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" required autocomplete="off">
    <label for="food-group-select">Food Group:</label>
    <select name="foodGroup" id="food-group-select" required>
      <option value="Vegetable">Vegetable</option>
      <option value="Meat/Fish">Meat/Fish</option>
      <option value="Grain">Grain</option>
      <option value="Dairy">Dairy</option>
      <option value="Fat/Oil">Fat/Oil</option>
      <option value="Fruit">Fruit</option>
      <option value="Herb/Spice">Herb/Spice</option>
      <option value="Other">Other</option>
    </select>
    <button type="submit">Create</button>
  </form >
</section>

<%- include('../partials/footer') %>