main {
  background-color: white;
  min-height: 100vh;
  justify-content: flex-start;
}

main > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  outline: none;
}

#name-div { 
  margin-top: 24px;
  background-color: #67CFD3;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name-input {
  font-size: 32px;
  background-color: #ffffff;
  color: #223843;
  border: 2px solid #b1b1b1;
  border-radius: 8px;
  text-align: center;
  min-width: 350px;
}

#name-input::placeholder {
  color: #7f929c;
  text-align: center;
}

#recipe {
  width: 100%;
  max-width: 1000px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipe-header {
  width: 90%;
  background-color: #223843;
  color: white;
  display: flex;
  justify-content: space-between;
}

#recipe-header > * {
  margin: 8px 32px;
}

#header-left {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#meal-select-container {
  font-size: 20px;
}

#meal-select, #time-input {
  font-size: 16px;
  color: #223843;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

#time-input {
  padding: 0 8px;
  width: 56px;
  text-align: center;
}

#time-input::-webkit-outer-spin-button,
#time-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#recipe-header > button {
  font-size: 16px;
  background-color: white;
  color: #223843;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  width: fit-content;
  margin: 8px 32px 48px 0;
}

#recipe-header > button:active {
  background-color: #D88373;
  border: 1px solid white;
  color: white
}

#recipe-content {
  background-color: #223843;
  color: white;
  width: 90%;
  max-width: 1000px;
  min-height: 500px;
}

#recipe-content > p:first-child,
#recipe-content > label {
  margin: 0 32px;
  font-size: 24px;
  text-decoration: underline;
}

#recipe-content > p:first-child {
  margin-top: 16px;
}

#instructions-textarea {
  margin: 14px 72px;
  font-size: 14px;
}

#recipe-content > ul {
  margin: 14px 40px;
  font-size: 14px;
}

#instructions-textarea {
  width: 60%;
  height: 300px;
  color: #223843;
  font-family: 'Poppins', sans-serif;
  padding: 4px 8px;
  resize: none;
  border-radius: 8px;
  margin-bottom: 48px;
}

#add-ingredients {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-ing-header {
  position: relative;
  top: 24px;
  width: 100%;
  height: 200px;
  background-color: #EF5D60;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-ing-header > h2 {
  margin: 0;
  text-align: center;
}

#add-ing-header > p {
  margin: 14px 0 0 0;
  text-align: center;
}

#grid-container {
  background-color: #223843;
  color: white;
  width: 90%;
  margin-top: 24px;
  width: 90%;
  max-width: 900px;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

#ingredient-options {
  display: grid; 
  width: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 0px;
  justify-items: center;
}

.food-group {
  background-color: white;
  color: #223843;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 20px 40px;
  width: fit-content;
  text-decoration: underline;
}

#ingredient-options > * > div > ul {
  list-style-type: none;
  padding: 0;
  margin: 14px 0 14px 60px;
}

#ingredient-options > * > div > ul > li > form {
  display: flex;
  align-items: center;
}

#ingredient-options > * > div > ul > li > form > p {
  margin: 0;
  font-size: 14px;
}

.add {
  background: none;
  color: white;
  border: none;
  padding: 1px 8px;
  margin: 4px 8px 4px 0;
}

.add:active {
  background-color: #D88373;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 7px;
}

#create-ingredients {
  position: relative;
  top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#create-ing-header {
  background-color: #67CFD3;
  color: white;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#create-ing-header > * {
  max-width: 80%;
}

#create-ing-header > h3 {
  text-align: center;
  margin: 0;
}

#create-ing-header > p {
  margin: 14px;
}

#create-ing-form {
  background-color: #223843;
  color: white;
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-ing-form > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

#food-group-select, #ing-name-input {
  font-size: 16px;
  color: #223843;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  padding: 0 8px;
}

#ing-name-input::placeholder {
  color: #7f929c;
  text-align: center;
}

#new-ing-button {
  font-size: 16px;
  background-color: white;
  color: #223843;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  width: fit-content;
}

#new-ing-button:active {
  background-color: #D88373;
  border: 1px solid white;
  color: white
}