#header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#header > img {
  position: relative;
  top: 100; 
  left: 0;
  width: 100%;
  max-width: 1000px;
}

#title {
  position: absolute;
  top: 64px;
  left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 750px;
  height: 150px;
  font-size: 48px;
  background-color: #67CFD3;
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
}

#content {
  position: relative;
  top: -100px;
  background-color: #d6daf5;
  height: 100vh;
  width: 90%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

a {
  color: #3b4274;
}

table {
  width: 90%;
}

th {
  font-size: 24px;
  border-bottom: 2px solid #3b4274;
}

tr {
  font-size: 20px;
  height: 48px;
  vertical-align: middle;
}

td > img {
  height: 32px;
  vertical-align: middle;
}

td:first-child {
  font-weight: bold;
}

td:nth-child(2), td:last-child {
  text-align: center;
}

td:nth-child(3) {
  margin: 4px;
}