h1 {
  color: white;
  background-color: #67CFD3;
  width: 100%; 
  height: 100px;
  margin: 24px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

form {
  width: 90%;
  max-width: 900px;
  height: 700px;
  background-color: #223843;
  color: white;
  padding: 24px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

form > * {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

#type-select, #duration-input, 
#date-select, #comments-textarea {
  background-color: white;
  color: #223843;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  width: 210px;
  height: 32px;
  text-align: right;
  padding: 0 8px;
  outline: none;
}

#duration-input::-webkit-outer-spin-button,
#duration-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#share > label > p {
  margin: 0;
}

#share > label > p:last-child {
  width: 90%; 
  font-size: 14px;
}

#share-checkbox {
  accent-color: #D88373;
  border: 1px solid #c3c3c3;
  width: 50px;
}

#share-checkbox:checked {
  color: white;
}

#comments-textarea {
  height: 100px;
  resize: none;
  text-align: left;
  font-size: 16px;
}

#add-exercise-btn {
  background-color: white;
  color: #223843;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  width: 210px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-exercise-btn:hover {
  text-decoration: underline;
}

#add-exercise-btn:active {
  border-color: #D88373;
  color: #D88373;
}